<?xml version="1.0" encoding="UTF-8"?>

<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>EmpManagement_jsp_servlet_bean</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login_servlet</display-name>
    <servlet-name>Login_servlet</servlet-name>
    <servlet-class>EmpManagement_servlet.Login_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_servlet</servlet-name>
    <url-pattern>/Login_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>EmpManagement_servlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/LogOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Insert_servlet</display-name>
    <servlet-name>Insert_servlet</servlet-name>
    <servlet-class>EmpManagement_servlet.Insert_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Insert_servlet</servlet-name>
    <url-pattern>/Insert_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete_servlet</display-name>
    <servlet-name>Delete_servlet</servlet-name>
    <servlet-class>EmpManagement_servlet.Delete_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete_servlet</servlet-name>
    <url-pattern>/Delete_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_servlet</display-name>
    <servlet-name>Update_servlet</servlet-name>
    <servlet-class>EmpManagement_servlet.Update_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_servlet</servlet-name>
    <url-pattern>/Update_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>test.servlet.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAll</display-name>
    <servlet-name>getAll</servlet-name>
    <servlet-class>EmpManagement_servlet.getAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAll</servlet-name>
    <url-pattern>/getAll</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Paginate</display-name>
    <servlet-name>Paginate</servlet-name>
    <servlet-class>EmpManagement_servlet.Paginate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Paginate</servlet-name>
    <url-pattern>/Paginate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update_to</display-name>
    <servlet-name>Update_to</servlet-name>
    <servlet-class>EmpManagement_servlet.Update_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update_to</servlet-name>
    <url-pattern>/Update_to</url-pattern>
  </servlet-mapping>
</web-app>
</element>